body{
    background-color:  #340EAF ;
    padding: 0;
    margin: 0;
    transition: background-color 2000ms  ease;
}

#root{
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}